body {
  display: flex;
  flex-direction: column;
  font-family: Palatino, serif;
  background-color: #f4dec2;
  color: #212121;
}

header {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#wordmark {
  font-family: 'Berkshire Swash', cursive;
  font-size: 3em;
  padding: 1em;
  color: #e98977;
  text-shadow: 3px 3px 3px #c0c0c0;
}

img.left {
  justify-content: flex-start;
  padding: 1em;
  max-width: 7em;
}

img.right {
  justify-content: flex-end;
  padding: 1em;
  max-width: 7em;
  transform: scaleX(-1);
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.125em;
}

section {
  background-color: #f4b36c;
}

li {
  font-family: Helvetica, sans-serif;
  color: #424242;
}
